<head>
    <title>Rails Application</title>
</head>
<link rel="stylesheet" href="///home/abhinavpy/My_Codes/edx_html/css_files/style1.css"/>
<h1>Hello Rails</h1>
<h2>This is H2</h2>
<body>
    Hello world! This is my first rails application
          <header>Header</header>
          <article>
             <p>Paragraph within article</p>
             <section>
                 <p>First paragraph within article's section</p>
                  <p>Second paragraph within article's section</p>
              </section>
          </article>
         <p>Paragraph outside article within nothing is this not the only cool thing javascript python are yet to be learnt</p>
          <br />
          <article class="simpleBorder">
              not again another fest in our college another masti element
          </article>
          <br />
          <article class="complexBorder">
              its fun typing this fast on the computer, whats also fun is that people are quite amazed by your typing
          </article>
         <footer>Footer</footer>
          <article class = "shortBorder">
              Lorem Ipsum!
          </article>
          <article class = "spacer brownBackground">
              Lorem Ipsum!
          </article>
          <article class = "spacer blackBackground">
              Lorem Ipsum!
          </article>

</body>

